<%= render "shared/band" %>

<% @band.opinions.each do |opinion| %>
  <div class="media">
    <div class="pull-left">
      <%= image_tag(opinion.user.avatar.url(:thumb), class: 'media-object', width: '64', height: '64') %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= opinion.user.username %>
        <small><%= opinion.created_at %></small>
        <% if opinion.user == current_user%>
          <%= link_to 'Edit', edit_band_opinion_path(@band, opinion) %>
        <%end%>
      </h4>
      <%= opinion.text %>
      <div class="pull-right">
        <%= form_for [@band, opinion, @reaction] do |f| %>
          <div class="field">
            <%= f.hidden_field :opinion_id, value: opinion.id %>
          </div>
          <div class="field">
            <%= f.hidden_field :positive, value: '1' %>
          </div>
          <div class="actions">
            <%= f.submit "LICK (#{opinion.reactions.select{|reaction| reaction.positive}.count})", class: "btn btn-success" %>
          </div>
        <% end %>
        <%= form_for [@band, opinion, @reaction] do |f| %>
          <div class="field">
            <%= f.hidden_field :opinion_id, value: opinion.id %>
          </div>
          <div class="field">
            <%= f.hidden_field :positive, value: '0' %>
          </div>
          <div class="actions">
            <%= f.submit "DIS-LICK (#{opinion.reactions.select{|reaction| !reaction.positive}.count})", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <a role="button" class="btn btn-primary" href="<%= new_band_opinion_path %>">Create New Opinion</a>
<% end %>
