<style>
  table, th, td {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
  }
  .block {
    margin-bottom: 20px;
    margin-top: 20px;
  }
</style>

<h1>All events of band</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>Duration</th>
      <th>Place</th>
      <th>Info</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @band.events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start_time %></td>
        <td><%= event.duration %></td>
        <td><%= event.place %></td>
        <td><%= event.info %></td>
        <td><%= link_to 'Show', band_event_path(@band, event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_band_event_path %>
