<%= form_for [@band, @post, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <% if !current_user.band_id.nil? %>
    <div class="field form-group">
      <%= f.label 'Send as band' %><br>
      <%= f.check_box :represents_band, checked: !@comment.nil? && !@comment.represents_band.nil? %>
    </div>
  <% end %>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', band_post_path(@band, @post), class: "btn btn-default" %>
  </div>
<% end %>
