<%= image_tag(@band.cover_photo.url(:thumb)) %>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Establish year:</strong>
  <%= @band.establish_year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @band.genre.name %>
</p>

<p>
  <strong>Members:</strong>
  <%= @members %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Delete', band_path(@band), method: :delete, data: { confirm: 'Delete this band?' } %> |
<%= link_to 'Back', bands_path %>
<%= link_to 'New Event', new_band_event_path(@band,@event) %>
