<style>
  table, th, td {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
  }
  .block {
    margin-bottom: 20px;
    margin-top: 20px;
  }
</style>

<%= render "shared/band" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>Duration</th>
      <th>Place</th>
      <th>Info</th>
    </tr>
  </thead>

  <tbody>
    <% @band.events.each do |event| %>
      <tr>
        <td><%= link_to event.title, band_event_path(@band, event) %></td>
        <td><%= event.start_time %></td>
        <td><%= event.duration %></td>
        <td><%= event.place %></td>
        <td><%= event.info %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if !current_user.nil? && current_user.band == @band %>
  <a role="button" class="btn btn-default" href="<%= new_band_event_path %>">New Event</a>
<% end %>
