<%= render "shared/band" %>

<div class="col-md-7 col-lg-7">
  <table class="table">
    <tr>
      <th>Title:</th>
      <td><%= @event.title %></td>
    </tr>
    <tr>
      <th>Start time:</th>
      <td><%= @event.start_time %></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><%= @event.duration %> min</td>
    </tr>
    <tr>
      <th>Place:</th>
      <td><%= @event.place %></td>
    </tr>
    <tr>
      <th>Info:</th>
      <td><%= @event.info %></td>
    </tr>
  </table>
  
  <% if user_signed_in? && current_user.band_id == @band.id %> 
    <%= link_to 'Edit', edit_band_event_path(@band, @event), class: "btn btn-primary" %>
    <%= link_to 'Delete', band_event_path(@band, @event), method: :delete, data: { confirm: 'Delete this event?' }, class: "btn btn-danger" %>
    <br><br>
  <% end %>
    
  <%= link_to 'Show Participants', band_event_attendances_path(@band, @event), class: "btn btn-default" %>
    
  <% if user_signed_in? %>
    <br><br>
    <% if @is_going %>
      <p>
        <%= button_to 'Cancel attendance', band_event_attendance_path(@band, @event, @attendance), method: :delete, class: "btn btn-danger" %>
      </p>
    <% else %>
      <p>
        <strong>Do you want to join?</strong>
        <%= button_to 'Join event', band_event_attendances_path(@band, @event), method: :post, action: 'create', class: "btn btn-primary" %>
      </p>
    <% end %>
  <% end %>
</div>
