<%= render "shared/band" %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Info:</strong>
  <%= @event.info %>
</p>

<%= link_to 'Edit', edit_band_event_path(@band, @event) %> |
<%= link_to 'Delete', band_event_path(@band, @event), method: :delete, data: { confirm: 'Delete this band?' } %> |
<%= link_to 'Back', band_events_path %>
<%= link_to 'All attendants', band_event_attendances_path(@band, @event) %>
<br>
<strong>Do you want to join?</strong>
<% if @is_going %>
  <p>
    <%= button_to 'No', band_event_attendance_path(@band, @event, @attendance), method: :delete %>
  </p>
<% else %>
  <p>
    <%= button_to 'Yes', band_event_attendances_path(@band, @event), method: :post, action: 'create' %>
  </p>
<% end %>
