<%= render "shared/band" %>

<div class="container">
  <h2 class="text-center">All Albums of <%= @band.name%> </h2>
  <div class="row">
    <% @band.albums.each do |album| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <p class="text-center"><%= album.title %></p>
          <%= link_to(image_tag(album.cover_photo.url(:thumb), :class => "img-thumbnail", :title => "Click here to show album info"), band_album_path(@band, album)) %>
        </div>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? && current_user.band_id == @band.id %>
    <a role="button" class="btn btn-default" href="<%= new_band_album_path(@band, @album) %>">New Album</a>
  <% end %>
</div>

<br>
