<%= render "shared/band" %>

<div class="row">
  <div class="col-lg-5 col-md-5">
    <table class="table">
      <tr>
        <th>Title:</th>
        <td><%= @album.title %></td>
      </tr>
      <tr>
        <th>Release Date:</th>
        <td><%= @album.release_date %></td>
      </tr>
      <tr>
        <th>Tracks:</th>
        <td><%= @album.tracks.count %></td>
      </tr>
    </table>
    
    <% if user_signed_in? && current_user.band_id == @band.id %>
      <a role="button" class="btn btn-primary" href="<%= edit_band_album_path(@band, @album) %>">Edit</a>
      <%= link_to 'Delete', band_album_path(@band, @album), method: :delete, data: { confirm: 'Delete this album?' }, class: "btn btn-danger" %>
    <% end %>
      
    <h3>Tracks</h3>
    <table class="table">
      <% @tracks.each do |track| %>
        <tr>
          <td>#<%= track.number %></td>
          <td><%= track.title %></td>
          <% if user_signed_in? && current_user.band_id == @band.id %>
            <td>
              <%= link_to 'Edit', edit_band_album_track_path(@band, @album, track) %> | 
              <%= link_to 'X', band_album_track_path(@band, @album, track), method: :delete, data: { confirm: 'Delete this track?' }, style: "color: red" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    
    <% if user_signed_in? && current_user.band_id == @band.id %>
      <a role="button" class="btn btn-default" href="<%= new_band_album_track_path(@band, @album) %>">Add Track</a>
    <% end %>
  </div>
    
  <div class="col-md-1 col-lg-1"></div>
  <div class="col-lg-5 col-md-5">
    <%= image_tag(@album.cover_photo.url(:thumb), class: "img-responsive") %>
  </div>
</div>
