<div class="container">
  <% @bands.each do |band| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag(band.cover_photo.url(:medium), :class => "img-thumbnail", width: '250', height: '250'), band_path(band)) %>
        <div class="caption">
          <h4 class="pull-right"><%= band.genre.name %></h4>
          <h4><%= link_to band.name, band %></h4>
        </div>
        <div>
          <p class="pull-right"><%= band.events.count %> events</p>
          <p><%= band.albums.count %> albums</p>
        </div>
      </div>
    </div>
  <% end %>
  <% if !current_user.nil? && current_user.band.nil?%>
    <a role="button" class="btn btn-primary" href="<%= new_band_path %>">Create Your Own Band</a>
  <% end %>
</div>
