<h1>New Band</h1>

<%= form_for(@band) do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field form-group">
    <%= f.label :establish_year %><br>
    <%= f.number_field :establish_year, min: 1900, max: Time.now.year %>
  </div>
  <div class="field form-group">
    <%= f.label :genre %><br>
    <%= f.select :genre, @genre_names %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', bands_path, class: "btn btn-default" %>
  </div>
<% end %>
