<%= render "shared/band" %>

<div class="row">
  <div class="col-lg-5 col-md-5">
    <table class="table">
      <tr>
        <th>Name:</th>
        <td><%= @band.name %></td>
      </tr>
      <tr>
        <th>Establish year:</th>
        <td><%= @band.establish_year %></td>
      </tr>
      <tr>
        <th>Genre:</th>
        <td><%= @band.genre.name %></td>
      </tr>
      <tr>
        <th>Members:</th>
        <td><%= @members %></td>
      </tr>
    </table>

    <% if user_signed_in? && current_user.band_id == @band.id %>
      <a role="button" class="btn btn-primary" href="<%= edit_band_path(@band) %>">Edit Band</a>
    <% end %>
  </div>

  <div class="col-md-1 col-lg-1"></div>
  <div class="col-lg-5 col-md-5">
    <%= image_tag(@band.cover_photo.url(:medium), class: "img-responsive", width: '250', height: '250') %>
  </div>
</div>
