<%= render "shared/band" %>

<div class="container">
  <% @band.posts.each do |post| %>
    <div class="row">
      <div class="col-md-8">
        <h2>
          <%= post.title %>
          <% if !current_user.nil? && current_user.band == @band %>
            <small><%= link_to 'Edit', edit_band_post_path(@band, post) %></small>
          <% end %>
        </h2>
        <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.created_at %></p>
        <hr>
        <p><%= post.text %></p>
        <%= link_to "Show comments (#{post.comments.count})", band_post_path(@band, post, anchor: 'comments'), class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
  <hr>
  <% if !current_user.nil? && current_user.band == @band %>
    <a role="button" class="btn btn-primary" href="<%= new_band_post_path %>">New Post</a>
  <% end %>
</div>
