<%= render "shared/band" %>

<h2><%= @post.title %></h2>

<div><%= @post.text %></div>

<div id="comments">
  <h3>Comments:</h3>
  <% @post.comments.each do |comment| %>
    <div class="media">
      <div class="pull-left">
        <% if comment.represents_band.nil? %>
          <%= image_tag(comment.user.avatar.url(:thumb), class: 'media-object', width: '64', height: '64') %>
        <% else %>
          <%= image_tag(Band.find(comment.represents_band).cover_photo.url(:thumb), class: 'media-object', width: '64', height: '64') %>
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <% if comment.represents_band.nil? %>
            <%= comment.user.username %>
          <% else %>
            <%= Band.find(comment.represents_band).name %>
          <% end %>
          <small><%= comment.created_at %></small>
          <% if user_signed_in? && (comment.user_id == current_user.id || (!current_user.band_id.nil? && comment.represents_band == current_user.band_id)) %>
          [ <%= link_to 'Edit', edit_band_post_comment_path(@band, @post, comment) %> |
            <%= link_to 'Delete', band_post_comment_path(@band, @post, comment), method: :delete, data: { confirm: 'Delete this comment?' } %> ]
          <% end %>
        </h4>
        <%= comment.text %>
      </div>
    </div>
  <% end %>
  <hr>
  <% if user_signed_in? %>
    <%= link_to 'Add Comment', new_band_post_comment_path(@band, @post), class: "btn btn-default" %>
  <% end %>
</div>
