<style>
  table, th, td {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
  }
  .block {
    margin-bottom: 20px;
    margin-top: 20px;
  }
</style>

<h1>All Tracks of album</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.number %></td>
        <td><%= track.title %></td>
        <td><%= link_to 'Edit', edit_band_album_track_path(@band, @album, track) %></td>
        <td><%= link_to 'Delete', band_album_track_path(@band, @album, track), method: :delete, data: { confirm: 'Delete this track?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_band_album_track_path %>
<%= link_to 'Back', band_album_path(@band, @album) %>
